#product {
  overflow: hidden;
}
#product h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-black);
  margin: 0 0 20px 0;
}
#product p span.sl {
  width: 120px;
  height: auto;
  min-height: 25px;
  font-weight: bold;
  display: block;
  float: left;
}
#prd-thumb,
#prd-intro {
  margin: 15px 0;
}
#prd-price {
  font-size: 15px;
}
.sr {
  color: var(--color-pri);
  font-weight: bold;
}
#product button {
  font-weight: bold;
  text-transform: uppercase;
}
#prd-details {
  line-height: 18px;
  padding: 15px 0;
  border-top: 1px solid var(--color-pri);
  margin-top: 15px;
  padding: 20px;
}

#prd-details img {
  width: 100%;
}

#comment {
  padding: 15px 0;
}
#comment h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 15px 0;
}
#comment input,
#comment textarea {
  border-radius: 0;
}

#comments {
  padding: 15px 0;
}
#comments ul {
  border-bottom: 1px dotted var(--color-border);
}
#comments ul li {
  list-style: none;
}
#comments ul li.comm-name {
  font-weight: bold;
  color: var(--color-black);
}
#comments ul li.comm-details {
  line-height: 18px;
  padding: 10px 0;
}
#pagination {
  padding: 0;
}
ul.pagination {
  margin-right: 25px;
}
#pagination {
  text-align: right;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#pagination a {
  color: var(--color-black);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: var(--color-pri);
  border-color: var(--color-pri);
}

.product-info--continue {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-pri);
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  padding: 20px;
}

.hide-content {
  height: 300px;
  overflow: hidden;
}
