@charset "utf-8";
/* CSS Document */

h2 .skeyword {
  color: var(--color-pri);
  text-transform: none;
}

#pagination {
  width: 720px;
  height: auto;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 5px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#pagination span {
  color: var(--color-pri);
}

#pagination a {
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-pri);
  border: none;
}

ul.pagination {
  margin-right: 12px;
}
