#checkout{
	margin-top:15px;
	}
#checkout table{
	font-size:14px;
	margin:15px 0;
	}	
#checkout table thead th{
	color:var(--color-black);
	text-transform:capitalize;
	}
#checkout table tr td span{
	color:var(--color-pri);
	}	
#custom-form{
	padding:0;
	margin:15px 0;
	}
#custom-form form input{
	border-radius:0;
	}