:root {
  --color-white: #fff;
  --color-black: #000;
  --color-pri: rgb(231, 38, 38);
  --color-border: rgb(0, 0, 0, 0.1);
  --color-text: #333;
  --color-bg-sidebar: rgb(44, 231, 175);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--color-text);
}
.container {
  overflow: hidden;
  padding: 0;
  background: var(--color-white);
  width: 100%;
}
.row {
  margin: 0;
}

#header {
  background-color: #f5f5f5;
  width: 100%;
  /* padding: 10px; */
  border-bottom: 1px solid var(--color-pri);
  box-sizing: content-box;
  height: 60px;
  max-height: 60px;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search {
  height: 30px;
  border-right: 1px solid var(--color-border);
  padding: 0;
}
#search input {
  float: left;
  border: none;
  margin: 0;
  padding: 0;
}
#search input[type="submit"] {
  width: 45px;
  height: 30px;
  z-index: 1;
  position: relative;
  background-color: transparent;
  /* background: url(../images/search-icon.png) no-repeat; */
}
#search .search-icon {
  position: absolute;
  font-size: 20px;
  left: 12px;
  top: 6px;
  color: var(--color-pri);
}
#search input[type="text"] {
  max-width: 88%;
  height: 30px;
  padding: 0 20px;
  /* outline: 1px solid rgba(0, 0, 0, 0.295); */
  outline: none;
}

/* // phần cart  */
.header-cart {
  float: right;
  position: relative;
  margin-right: 20px;
  padding: 2px 26px;
}

.header-cart-icon {
  font-size: 25px;
  color: var(--color-pri);
}
.header-cart__view {
  border-radius: 4px;
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 10px;
  width: 380px;
  min-height: 120px;
  background-color: var(--color-white);
  padding: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border: 1px solid var(--color-border);
  display: none;
}
/* phần mũi nhọn */
.header-cart__view::before {
  content: "";
  right: 14px;
  top: -18px;
  border-style: solid;
  position: absolute;
  border-width: 10px 10px;
  border-color: transparent transparent white transparent;
}
.header-cart-header {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  width: 100%;
  height: 30px;
  padding: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0 0 12px 0;
}

.header-cart-title {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 1.4rem;
  color: var(--text-color);
}

/* list cart  */
.header-cart-list {
  padding: 0;
  margin: 0;
  max-height: 50vh;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.header-cart-item {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-cart-item__title {
  flex: 1;
}
.header-car-item__price,
.header-cart-count-item span {
  color: var(--color-pri);
}
.header-cart-item__img,
.header-cart-item__title,
.header-car-item__price {
  padding: 5px;
  max-height: 40px;
}

.header-cart-item__img {
  width: 40px;
  border: 1px solid var(--color-pri);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.header-cart-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.cart-empty--img {
  width: 100%;
  padding: 20px;
  cursor: default;
}
.header-cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn a {
  background-color: transparent;
  text-decoration: none;
  color: var(--color-white);
}

.header-cart:hover .header-cart__view {
  display: block;
}

#login {
  padding-top: 7px;
  margin-bottom: -4px;
  display: none;
}

#login-main {
  float: right;
  font-size: 14px;
}

#login-main > ul {
  margin: 5px;
}
#banner {
  border-bottom: 1px solid var(--color-border);
}
#logo {
  padding: 15px 15px;
}
#logo h1 {
  margin: 0;
}
#ship {
  margin-top: 35px;
}

#menu {
  padding: 0;
  border: 1px solid var(--color-border);
  margin-top: 15px;
}

.h2-bar {
  height: 35px;
  line-height: 35px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-white);
  background: var(--color-bg-sidebar);
  padding: 0 15px;
  margin: 0 0 20px;
}
#menu ul {
  padding: 0 15px;
}
#menu ul li {
  list-style: none;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
#menu ul li a {
  color: var(--color-black);
  width: 100%;
  display: inline-block;
}
#menu ul li:hover {
  cursor: pointer;
}
#menu ul li:hover a {
  color: var(--color-pri);
  text-decoration: none;
}
#banner-l {
  margin-top: 15px;
  border: 1px solid var(--color-border);
}
#counter {
  margin-top: 15px;
  border: 1px solid var(--color-border);
}
#counter p {
  padding: 15px;
}
#counter p span {
  font-weight: bold;
  color: var(--color-pri);
}
#menu-but {
  float: none;
  background: var(--color-bg-sidebar);
  border-radius: 0px;
  margin: 15px 0 0 0;
}
#menu-but span {
  background: var(--color-white);
}

#banner-l img {
  border: none;
}
#slider {
  margin-top: 15px;
}
.products {
  margin-top: 15px;
}
.product-item {
  padding-left: 5px;
  padding-right: 5px;
  /* border: 1px solid var(--color-border); */
  max-width: 24%;
  margin: 4px !important;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
  border-radius: 2px;
}
.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  margin: 10px;
  transition: transform 1s;
  width: 190px;
  height: 165px;
}

#prd-thumb img {
  transition: transform 1s;
}

.product-item img:hover {
  transform: scale(1.1);
}

#prd-thumb img:hover {
  transform: scale(1.1) !important;
}

.product-item h3 {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  min-height: 30px;
}
.product-item h3 a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 14px;
}
.product-item p {
  margin: 0;
}
.price {
  font-weight: bold;
  color: var(--color-pri);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
#brand {
  margin-top: 15px;
}
#brand img {
  border: none;
}
#footer {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 8px;
  background: #f5f5f5;
  margin-top: 15px;
  border-top: 2px solid var(--color-pri);
}

#footer-main {
  width: 100%;
  height: auto;
  padding: 10px;
}
#footer-main h4 {
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: medium;
}
#footer-main p {
  color: var(--color-black);
  text-align: center;
  margin: 0;
  padding: 5px;
}

#main {
  margin-top: 20px;
}
/* footer-contact */
.footer-wide {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-heading {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 700;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__item {
  padding: 5px 0;
}

.footer__item__link {
  font-size: 1.2rem;
  color: var(--color-text);
}

.footer__item__link:hover {
  color: var(--color-pri);
  text-decoration: none;
  opacity: 1;
}
.footer__coppyright-img {
  height: 50px;
  display: block;
  margin: auto;
  background-color: transparent;
  border-radius: 5px;
}

.footer__copyright-text {
  margin: 20px 0 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--color-black);
  font-weight: 700;
}
.footer__copyright-text span {
  color: var(--color-pri);
  font-size: 1.4rem;
}

@media (max-width: 992px) {
  #y-cart {
    background: var(--color-white);
  }
  #login {
    display: none;
  }
  .header-cart {
    padding: 2px 10px;
  }
  .header-cart__view {
    width: 320px;
  }
  #logo {
    text-align: center;
  }
  #ship {
    display: none;
  }
  #slider {
    display: none;
  }
  #y-cart-main {
    margin-top: 15px;
  }
  #banner-l {
    display: none;
  }
  .product-item {
    max-width: 100%;
  }
}

#user {
  position: relative;
  list-style: none;
}
#user-main {
  position: absolute;
  list-style: none;
  display: none;
  padding: 10px;
  background: rgb(255, 246, 246);
  width: 175px;
  height: 40px;
  text-align: left;
  float: left;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 2px 1px 2px rgb(0, 0, 0, 0.2);
}
#user-main a:hover {
  text-decoration: none;
}
#user:hover #user-main {
  display: block;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-pri);
  color: var(--color-white);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  opacity: 0.5;
}

#myBtn:hover {
  opacity: 0.8;
}

.min-height {
  min-height: 280px;
}

.margin-top {
  margin-top: 100px;
}

.float-right {
  float: right;
}
.margin-left {
  margin-left: 20px;
}

/* //chat box  */
iframe {
  bottom: 60px !important;
  margin: 0px 4px !important;
}
.aha-customer-chat-plugin-mobile {
  bottom: 60px !important;
}
