RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "^([a-zA-Z0-9]+).html$" "index.php?page_layout=$1"
RewriteRule "^san-pham/([0-9]+)/([a-zA-Z0-9-]+).html$" "/index.php?page_layout=chitietsp&id_sp=$1&ten_sp=$2"

; # .php - .html
; RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
; RewriteRule ^(.*).html$ $1.php [R=301,L]

; #Thêm / vào cuối URL

; RewriteBase /

; RewriteCond %{REQUEST_FILENAME} !-f

; RewriteCond %{REQUEST_URI} !#

; RewriteCond %{REQUEST_URI} !(.*)/$

; RewriteRule ^(.*)$ http://domain.com/$1/ [L,R=301]

; # Bảo vệ file dùng .htaccess

; <files .htaccess="">

; order allow,deny

; deny from all

; </files>

; RewriteCond %{HTTPS} off
; RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]